<head>
    <link rel="stylesheet" href="../content/css/lib/sweetalert2.css">
    <link rel="stylesheet" href="../content/css/animation.css">
    <link rel="stylesheet" href="../content/css/common.css">
    <link rel="stylesheet" href="../content/css/result.css">
</head>

<body>
    <div class="img-bg">

        <div class="flex">
            <div class="box">
                <div class="title-name">
                    <image class="name occhi" src="../content/image/label-name-occhi.png"></image>
                    <image class="name haduki" src="../content/image/label-name-haduki.png"></image>
                </div>
                <div class="status-table">
                    <table>
                        <tr>
                            <td>
                                <image class="status-image" src="../content/image/status-1.png"></image>
                            </td>
                            <!-- アタリ -->
                            <td>
                                <image class="status-bar atari" src="../content/image/parameter/atari.png"></image>
                            </td>
                            <!-- おみ -->
                            <td>
                                <image class="status-bar omi" src="../content/image/parameter/omi-1.png"></image>
                            </td>
                            <!-- ピエール77世 -->
                            <td>
                                <image class="status-bar piale" src="../content/image/parameter/piale-1.png"></image>
                            </td>
                            <!-- ポロロッチョ -->
                            <td>
                                <image class="status-bar polo" src="../content/image/parameter/polo-1.png"></image>
                            </td>
                            <!-- トマス -->
                            <td>
                                <image class="status-bar tomas" src="../content/image/parameter/tomas-1.png"></image>
                            </td>
                            <!-- アリス -->
                            <td>
                                <image class="status-bar aris" src="../content/image/parameter/aris-1.png"></image>
                            </td>
                            <!-- デルミン -->
                            <td>
                                <image class="status-bar delmin" src="../content/image/parameter/delmin-1.png"></image>
                            </td>
                            <!-- キララ -->
                            <td>
                                <image class="status-bar kirara" src="../content/image/parameter/kirara-1.png"></image>
                            </td>
                            <!-- まとい -->
                            <td>
                                <image class="status-bar matoi" src="../content/image/parameter/matoi-1.png"></image>
                            </td>
                            <!-- Voidoll -->
                            <td>
                                <image class="status-bar voidoll" src="../content/image/parameter/voidoll-1.png">
                                </image>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <image class="status-image" src="../content/image/status-2.png"></image>
                            </td>
                            <!-- アタリ -->
                            <td>
                                <image class="status-bar atari" src="../content/image/parameter/atari.png"></image>
                            </td>
                            <!-- おみ -->
                            <td>
                                <image class="status-bar omi" src="../content/image/parameter/omi-2.png"></image>
                            </td>
                            <!-- ピエール77世 -->
                            <td>
                                <image class="status-bar piale" src="../content/image/parameter/piale-1.png"></image>
                            </td>
                            <!-- ポロロッチョ -->
                            <td>
                                <image class="status-bar polo" src="../content/image/parameter/polo-2.png"></image>
                            </td>
                            <!-- トマス -->
                            <td>
                                <image class="status-bar tomas" src="../content/image/parameter/tomas-2.png"></image>
                            </td>
                            <!-- アリス -->
                            <td>
                                <image class="status-bar aris" src="../content/image/parameter/aris-2.png"></image>
                            </td>
                            <!-- デルミン -->
                            <td>
                                <image class="status-bar delmin" src="../content/image/parameter/delmin-2.png"></image>
                            </td>
                            <!-- キララ -->
                            <td>
                                <image class="status-bar kirara" src="../content/image/parameter/kirara-2.png"></image>
                            </td>
                            <!-- まとい -->
                            <td>
                                <image class="status-bar matoi" src="../content/image/parameter/matoi-2.png"></image>
                            </td>
                            <!-- Voidoll -->
                            <td>
                                <image class="status-bar voidoll" src="../content/image/parameter/voidoll-2.png">
                                </image>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <image class="status-image" src="../content/image/status-3.png"></image>
                            </td>
                            <!-- アタリ -->
                            <td>
                                <image class="status-bar atari" src="../content/image/parameter/atari.png"></image>
                            </td>
                            <!-- おみ -->
                            <td>
                                <image class="status-bar omi" src="../content/image/parameter/omi-3.png"></image>
                            </td>
                            <!-- ピエール77世 -->
                            <td>
                                <image class="status-bar piale" src="../content/image/parameter/piale-3.png"></image>
                            </td>
                            <!-- ポロロッチョ -->
                            <td>
                                <image class="status-bar polo" src="../content/image/parameter/polo-3.png"></image>
                            </td>
                            <!-- トマス -->
                            <td>
                                <image class="status-bar tomas" src="../content/image/parameter/tomas-3.png"></image>
                            </td>
                            <!-- アリス -->
                            <td>
                                <image class="status-bar aris" src="../content/image/parameter/aris-3.png"></image>
                            </td>
                            <!-- デルミン -->
                            <td>
                                <image class="status-bar delmin" src="../content/image/parameter/delmin-3.png"></image>
                            </td>
                            <!-- キララ -->
                            <td>
                                <image class="status-bar kirara" src="../content/image/parameter/kirara-3.png"></image>
                            </td>
                            <!-- まとい -->
                            <td>
                                <image class="status-bar matoi" src="../content/image/parameter/matoi-3.png"></image>
                            </td>
                            <!-- Voidoll -->
                            <td>
                                <image class="status-bar voidoll" src="../content/image/parameter/voidoll-3.png">
                                </image>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <image class="status-image" src="../content/image/status-4.png"></image>
                            </td>
                            <!-- アタリ -->
                            <td>
                                <image class="status-bar atari" src="../content/image/parameter/atari.png"></image>
                            </td>
                            <!-- おみ -->
                            <td>
                                <image class="status-bar omi" src="../content/image/parameter/omi-1.png"></image>
                            </td>
                            <!-- ピエール77世 -->
                            <td>
                                <image class="status-bar piale" src="../content/image/parameter/piale-1.png"></image>
                            </td>
                            <!-- ポロロッチョ -->
                            <td>
                                <image class="status-bar polo" src="../content/image/parameter/polo-1.png"></image>
                            </td>
                            <!-- トマス -->
                            <td>
                                <image class="status-bar tomas" src="../content/image/parameter/tomas-1.png"></image>
                            </td>
                            <!-- アリス -->
                            <td>
                                <image class="status-bar aris" src="../content/image/parameter/aris-1.png"></image>
                            </td>
                            <!-- デルミン -->
                            <td>
                                <image class="status-bar delmin" src="../content/image/parameter/delmin-1.png"></image>
                            </td>
                            <!-- キララ -->
                            <td>
                                <image class="status-bar kirara" src="../content/image/parameter/kirara-4.png"></image>
                            </td>
                            <!-- まとい -->
                            <td>
                                <image class="status-bar matoi" src="../content/image/parameter/matoi-1.png"></image>
                            </td>
                            <!-- Voidoll -->
                            <td>
                                <image class="status-bar voidoll" src="../content/image/parameter/voidoll-1.png">
                                </image>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="feature">
                    <image src="../content/image/feature.png"></image>
                </div>
                <div class="text-feature">
                    <!-- アタリ -->
                    <image class="explain atari" src="../content/image/meguru/text-atari.png"></image>
                    <!-- おみ -->
                    <image class="explain omi" src="../content/image/meguru/text-omi.png"></image>
                    <!-- ピエール77世 -->
                    <image class="explain piale" src="../content/image/meguru/text-piale-77.png"></image>
                    <!-- ポロロッチョ -->
                    <image class="explain polo" src="../content/image/meguru/text-polo.png"></image>
                    <!-- トマス -->
                    <image class="explain tomas" src="../content/image/meguru/text-tomas.png"></image>

                    <!-- アリス -->
                    <image class="explain aris" src="../content/image/meguru/text-aris.png"></image>
                    <!-- デルミン -->
                    <image class="explain delmin" src="../content/image/meguru/text-delmin.png"></image>
                    <!-- キララ -->
                    <image class="explain kirara" src="../content/image/meguru/text-kirara.png"></image>
                    <!-- まとい -->
                    <image class="explain matoi" src="../content/image/meguru/text-matoi.png"></image>
                    <!-- Voidoll -->
                    <image class="explain voidoll" src="../content/image/meguru/text-voidoll.png"></image>
                </div>
            </div>
            <div class="box chara">
                <!-- アタリ -->
                <image class="chara-img atari" src="../content/image/chara/atari.png">
                </image>
                <!-- おみ -->
                <image class="chara-img omi" src="../content/image/chara/omi.png">
                </image>
                <!-- ピエール -->
                <image class="chara-img piale" src="../content/image/chara/piale.png">
                </image>
                <!-- ポロロッチョ -->
                <image class="chara-img polo" src="../content/image/chara/polo.png">
                </image>
                <!-- トマス -->
                <image class="chara-img tomas" src="../content/image/chara/tomas.png">
                </image>
                <!-- アリス -->
                <image class="chara-img aris" src="../content/image/chara/aris.png">
                </image>
                <!-- デルミン -->
                <image class="chara-img delmin" src="../content/image/chara/delmin.png">
                </image>
                <!-- きらら -->
                <image class="chara-img kirara" src="../content/image/chara/kirara.png">
                </image>
                <!-- まとい -->
                <image class="chara-img matoi" src="../content/image/chara/matoi.png">
                </image>
                <!-- voidoll -->
                <image class="chara-img voidoll" src="../content/image/chara/voidoll.png">
                </image>
            </div>
        </div>
        <div id="btn-next" class="btn-img btn-next">
            <image src="../content/image/btn-next.png"></image>
        </div>
    </div>
    <script src="../lib/sweetalert2.min.js"></script>
    <script src="../lib/jquery-3.6.0.min.js"></script>
    <script src="../js/answer_hazuki.js" charset="utf-8"></script>
</body>