<head>

    <link rel="stylesheet" href="../content/css/lib/sweetalert2.css">
    <link rel="stylesheet" href="../content/css/animation.css">
    <link rel="stylesheet" href="../content/css/common.css">
    <link rel="stylesheet" href="../content/css/home.css">
</head>

<body>
    <div class="bg flex">
        <ul class="circles">
                <li><image src="../content/image/logo.png"></image></li>
                <li><image src="../content/image/logo.png"></image></li>
                <li><image src="../content/image/logo.png"></image></li>
                <li><image src="../content/image/logo.png"></image></li>
                <li><image src="../content/image/logo.png"></image></li>
                <li><image src="../content/image/logo.png"></image></li>
                <li><image src="../content/image/logo.png"></image></li>
                <li><image src="../content/image/logo.png"></image></li>
                <li><image src="../content/image/logo.png"></image></li>
                <li><image src="../content/image/logo.png"></image></li>
        </ul>
        <div class="box">
            <div id="img-sub-title"><image src="../content/image/text-sub-title.png"></image></div>
            <div id="img-title"><image src="../content/image/text-title.png"></image></div>
            <div id="btn-start" class="btn-img"><image id="btn-start-img" src="../content/image/btn-start.png"></image></div>
        </div>
        <div class="box">
            
            <div id="img-chara">
                <image src="../content/image/omi-1.png"></image>
                <div class="shadow-circle"></div>
            </div>
        </div>
    </div>
    <script src="../lib/sweetalert2.min.js"></script>
    <script src="../lib/jquery-3.6.0.min.js"></script>
    <script src="../js/start.js" charset="utf-8"></script>
</body>