<head>
    <link rel="stylesheet" href="../content/css/lib/sweetalert2.css">
    <link rel="stylesheet" href="../content/css/animation.css">
    <link rel="stylesheet" href="../content/css/common.css">
    <link rel="stylesheet" href="../content/css/question.css">
</head>

<body>
    <div class="gray-bg">
        <div class="title-rule"><image src="../content/image/text-question.png"></image></div>
        <div class="flex">
            <div class="box">
                <div class="void">
                    <image class="void-smile" src="../content/image/void-smile.png"></image>
                    <image class="void-!" src="../content/image/void-!.png"></image>
                    <image class="void-start" src="../content/image/void-start.png"></image>
                </div>
            </div>
            <div class="box">
                <div class="content-explain">
                    <image src="../content/image/forHazuki/q1.png" data-question="q1"></image>
                    <image src="../content/image/forHazuki/q2.png" data-question="q2"></image>
                    <image src="../content/image/forHazuki/q3.png" data-question="q3"></image>
                    <image src="../content/image/forHazuki/q4.png" data-question="q4"></image>
                    <image src="../content/image/forHazuki/q5.png" data-question="q5"></image>
                    <image src="../content/image/forHazuki/q6.png" data-question="q6"></image>
                    <image src="../content/image/forHazuki/q7.png" data-question="q7"></image>
                    <image src="../content/image/forHazuki/q8.png" data-question="q8"></image>
                    <image src="../content/image/forHazuki/q9.png" data-question="q9"></image>
                    <image src="../content/image/forHazuki/q10.png" data-question="q10"></image>
                    <image src="../content/image/forHazuki/q11.png" data-question="q11"></image>
                </div>
                <div class="question-input"> 
                    <div class="question q-1">
                        <image src="../content/image/rank1.png"></image><textarea></textarea>
                    </div>
                    <div class="question q-2">
                        <image src="../content/image/rank2.png"></image><textarea></textarea>
                    </div>
                    <div class="question q-3">
                        <image src="../content/image/rank3.png"></image><textarea></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div id="btn-next" class="btn-img btn-next"><image src="../content/image/btn-next.png"></image></div>
    </div>
    <script src="../lib/sweetalert2.min.js"></script>
    <script src="../lib/jquery-3.6.0.min.js"></script>
    <script src="../js/question-hazuki.js" charset="utf-8"></script>
</body>