body{
    margin: 0px;
}

.bg{
    position:relative;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height:100%;
}

.gray-bg{
    position:relative;
    background-color: rgb(61 61 61);
    overflow: hidden;
    width: 100%;
    height:100%;
}

.flex{
    flex: auto;
    display: flex;
    align-items: center;
}

.btn-img img:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.img-title img{
    width: 50%;
    position: absolute;
    top:5%;
    left: 0;
    right: 0;
    margin: auto;
    animation: fluffy 3s ease infinite;
}


.btn-next img{
    bottom: 5%;
    right: 5%;
    width: 25%;
    position: absolute;
    margin: auto;
    z-index: 1;
}

.upload-btn img{
    width: 25%;
    height:25%;
}


.shadow-circle{
    width: 390px;
    height: 100px;
    line-height: 100px;
    background-color: #c0c0c0;
    border-radius: 50%;
    margin-top: -120px;
}