#parent{
    background-image: url('../image/bg-img.png');
     background-repeat: no-repeat;
     background-size: cover;
}

.box{
    position: relative;
    width: 50%;
}
.title-name img{
    position: absolute;
    top: 5%;
    height: 20%;   
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

.status-table table{
    position: absolute;
    top: 25%;
    height: 35%;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

.feature img{
    position: absolute;
    top: 65%;
    left: 10%;
    /* /width: 65%; */
    height:10%;
}

.text-feature img{
    position: absolute;
    top: 78%;
    left: 52%;
    width: 85%;
    height: 15%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

.chara img{
    position: absolute;
    top: 5%;
    width: 85%;
    border-style:none;
}